data/seoul/raw/소상공인_상가_서울_*.csv filter=lfs diff=lfs merge=lfs -text
data/seoul/raw/BUS_STATION_BOARDING_MONTH_*.csv filter=lfs diff=lfs merge=lfs -text
data/seoul/raw/*.graphml filter=lfs diff=lfs merge=lfs -text
